/node_modules
/public/hot
/public/build
/public/storage
/storage/*.key
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/storage/app/public/attachments/*
!/storage/app/public/attachments/.gitignore
/storage/app/private/attachments/*
!/storage/app/private/attachments/.gitignore
/bootstrap/cache/*.php
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/database/database.sqlite
