parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$closed_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Admin/ReportController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Admin/ReportController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$due_date\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Admin/ReportController.php

		-
			message: '#^Using nullsafe method call on non\-nullable type mixed\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/Admin/TicketController.php

		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 1
			path: app/Http/Controllers/Admin/UserManagementController.php

		-
			message: '#^Using nullsafe method call on non\-nullable type mixed\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/Client/TicketController.php
